/* Global */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #CCE5CC;
}

/* Aligns all content within the container to the center */
#container {
  text-align: center;
}

#heading {
  color: #1E1E1E;
}

#calculator {
  display: grid;
  width: 350px;
  height: 500px;
  background-color: #323232;
  border: 5px solid #323232;
  border-radius: 25px;
  margin: auto;
  /*box-shadow: 1px -1px black inset;*/
}

#screen {
  background-color: #464646;
  width: 330px;
  height: 120px;
  display: inline-block;
  margin: 0.5em auto;
  border: 2px solid #323232;
  border-radius: 25px;
  position: relative;
}

#screenText {
  color: #E5E5E5;
  font-size: 38px;
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
}

#buttonContainer {
  width: 330px;
  height: 350px;
  display: grid;
  margin: 0 auto;
  border: 2px solid #3232;
  border-radius: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.button {
  background: #464646;
  border: 2px solid #323232;
  padding: 15px;
  color: #E5E5E5;
  border-radius: 25px;
  font-size: 22px;
  cursor: pointer;
  outline: none;
}

.biggerButton {
   grid-column: span 2;
   border-radius: 15px;
}

.clearDel {
  font-size: 18px;
}

.button:Hover {
  color: #464646;
}

.clearDel:hover {
  background-color: #FF748C;
}

.equal:hover {
  background-color: #2596BE;
}

.number:hover {
  background-color: #BFBFBF;
}

.operator:hover {
  background-color: #DAA520;
}
